<div class="create-book">
    <%= simple_form_for Book.new, url: books_path, html: { class: "book-form" } do |f| %>
        <div class="inline">
            <%= f.input :name, label: false, input_html: { autofocus: true } %>
            <%= render 'partials/add_button' %>
        </div>
    <% end %>
</div>

<div class="books">
    <% @books.each do |b| %>
        <div class="book">
            <div class="book-title">
                <%= b.name %>
            </div>

            <div class="book-actions">
                <%= button_to "x" , book_path(b), method: :delete %>
            </div>
        </div>
    <% end %>
</div>