<label>Create a new bookstore:</label>
<div class="create-collection-entry">
    <%= simple_form_for Bookstore.new, url: bookstores_path, html: { class: "bookstore-form" } do |f| %>
        <div class="inline">
            <%= f.input :name, label: false, input_html: { autofocus: true } %>
            <%= render 'partials/add_button' %>
        </div>
    <% end %>
</div>

<label>Bookstores:</label>
<div class="collection">
    <% @bookstores.each do |bs| %>
        <div class="collection-entry">
            <div class="collection-entry-property bookstore-name">
                <%= bs.name %>
            </div>

            <div class="collection-entry-actions">
                <%= button_to "x" , bookstore_path(bs), method: :delete %>
            </div>
        </div>
    <% end %>
</div>