<div class="summary">
    <div class="summary-entry bookstores">
        <span class="summary-entry-value"><%= @bookstores_amount %></span><span> <%= 'bookstore'.pluralize(@bookstores_amount) %> registered</span>
    </div>

    <div class="summary-entry books">
        <span class="summary-entry-value"><%= @books_amount %></span><span> <%= 'book'.pluralize(@books_amount) %> registered</span>
    </div>

    <div class="summary-entry stock">
        <span class="summary-entry-value"><%= @total_stock %></span><span> <%= 'book'.pluralize(@books_amount) %> in stock</span>
    </div>
</div>

<div class="operations">
    <div class="section bookstores">
        <%= collection_select(:bookstore, :name, Bookstore.order(:name),
            :id, :name,
            { prompt: true },
            onchange: 'validateOperationSections();'
        )%>
    </div>
    <div class="section books">
        <%= collection_select(:book, :name, Book.order(:name),
            :id, :name,
            { prompt: true },
            onchange: 'validateOperationSections();'
        )%>
    </div>
    <div class="section stock">
        <input type="hidden" id="stock_level_url" value="<%= stock_level_path(:bookstore_id, :book_id) %>" />
        <input id="stock_level" type="number"
            class="hide"
            min="0" value="0"
            onchange="updateStockLevel(this.value);"
        />
    </div>
</div>

<div class="summary bookstores">
    <% @summary.each do |s| %>
        <div class="summary-entry bookstore">
            <div class="summary-entry-property bookstore-name">
                <span><%= s[:bookstore_name] %></span>
            </div>
            <div class="summary-entry-property bookstore-in-stock">
                <span><%= s[:books][:in_stock].size %></span><span> <%= 'book'.pluralize(s[:books][:in_stock].size) %> in stock</span>
            </div>
            <div class="summary-entry-property bookstore-total-stock">
                <%
                    total_stock = s[:books][:in_stock].map {|x| x[:stock_level] }.sum()
                %>
                <span><%= total_stock %></span><span> <%= 'copy'.pluralize(total_stock) %> in total</span>
            </div>
            <div class="summary-entry-property bookstore-out-of-stock">
                <%
                    out_of_stock = s[:books][:out_of_stock].size
                %>
                <span class="<%= 'danger' if out_of_stock > 0 %>"><%= out_of_stock %></span><span> <%= 'book'.pluralize(out_of_stock) %> out of stock</span>
            </div>
        </div>
    <% end %>
</div>