<div class="summary">
    <div class="summary-entry books">
        <span><%= @books_amount %></span><span> <%= 'book'.pluralize(@books_amount) %> registered</span>
    </div>

    <div class="summary-entry bookstores">
        <span><%= @bookstores_amount %></span><span> <%= 'bookstore'.pluralize(@bookstores_amount) %> registered</span>
    </div>

    <div class="summary-entry stock">
        <span><%= @total_stock %></span><span> <%= 'book'.pluralize(@books_amount) %> in stock</span>
    </div>
</div>