<!DOCTYPE html>
<html>
  <head>
    <title>Bookstores Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <li class="menu-item <%= 'selected' if @section == 'bookstores' %>">
        <%= link_to 'Bookstores', bookstores_path %>
      </li>
      <li class="menu-item <%= 'selected' if @section == 'books' %>">
        <%= link_to 'Books', books_path %>
      </li>
      <li class="menu-item <%= 'selected' if @section == 'inventory' %>">
        <%= link_to 'Inventory', '#' %>
      </li>
    </nav>

    <%= yield %>
  </body>
</html>
